# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

orgConfig/*.el
orgConfig/functions/*.el
ac-comphist.dat
elpa/*
history
projectile-bookmarks.eld
recentf
transient/*